h1{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}


form{
    display: block;
    padding: 30px;
    border: 1px solid #000000 ;
    background-color: rgb(71, 152, 152);
}
.para{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: #ca1111;
    padding: 15px 80px;

}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    max-width: 400px;
}

.botao-Agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 2px;
    font-size: x-large;
}

body{
    background-color: antiquewhite;
}

.agenda{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    flex-direction: column;
}

input{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    width: 300px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 2px
}

button{
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #00ff15;

}

button:hover{
    background-color: #11e31f;
    cursor: pointer;
}


li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 80px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    width: 300px;
    gap: 15px;
    text-wrap-mode: nowrap;
}

.tarefa-finalizada{
    color: #000000;
}

.tarefa-concluida{
  text-decoration: line-through;
  color: #000000;
}

.btn.btn-primary{
    padding: 3px 2px;
    border: 1px solid #000000;
    
}

.btn.btn-danger{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn.btn-danger:hover{
    background-color: #ca1111;
}

.btn.btn-reabrir{
    background-color: rgb(255, 255, 0);
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}
.btn.btn-reabrir:hover{
    background-color: rgb(243, 243, 23);
}

.btn.btn-success{
    background-color: #00ff15;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn.btn-success:hover{
    background-color: #11e31f;
}

.btn.btn-secondary{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 3px 1px;
    border-radius: 4px;
    border: 1px solid #000000;
}

.btn.btn-secondary:hover{
    background-color: #ca1111;
}