h1{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}
.para{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large

}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
    max-width: 400px;
}

.botao-Agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 2px;
    font-size: x-large;
}

body{
    background-color: #ffffff;
    max-width: 400px;
    height: 400px;
}

input{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    width: 300px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 2px
}

button{
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #00ff15;

}

button:hover{
    background-color: #02af0d;
    cursor: pointer;
}


li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    width: 300px;
    
}

.tarefa-finalizada{
    color: #000000;
}

.tarefa-concluida{
  text-decoration: line-through;
  color: #888888;
}



a{
    padding: 3px 2px;
    border: 1px solid #000000;
  
    
}

.btn.btn-danger{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn.btn-success{
    background-color: #00ff15;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn.btn-secondary{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 3px 1px;
    border-radius: 4px;
    border: 1px solid #000000;
}