p {
    color: red;
    text-align: center;;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

body {
    display: flex;             
    flex-direction: column;    
    align-items: center;      
    background-color: aqua;
    min-height: 100vh;         
    border-radius: 15px; 
}

.davidGoggins{
    height: 350px;
    width: 350px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyTav_legaXY0Y_NP_tjiUiD3ds-Y412sl_Q&s");
    background-size: cover;
    background-position: center;
}

.davidGoggins:hover {
    background-image: url("https://i.scdn.co/image/ab6765630000ba8aa303fc20c60b29916ed99b82");
}


h1 {
    text-align: center;
    color: rgb(66, 62, 161);
    padding: 5px;
    background-color: rgb(174, 192, 210);
    border-radius: 10%;
}


a {
    font-weight: 500;
    padding: 15px;
    background-color: rgb(25, 100, 161);
    border-radius: 15px;
    display: block;
    color: aliceblue;
}

form {
    display: flex;            
    flex-direction: column;  
    align-items: center;
}




